<html ng-app="MoodsApp">
<head>
  <title>Moods Store - Cake Online</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="components/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="components/angular/angular.min.js" charset="utf-8"></script>
  <script src="components/angular-route/angular-route.min.js" charset="utf-8"></script>
  <script src="components/angular-smoothscroll/dist/scripts/bb15da28.scripts.js" charset="utf-8"></script>
  <link rel="stylesheet" href="components/Materialize/dist/css/materialize.min.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/index.css" charset="utf-8">
  <link rel="stylesheet" href="css/cakeList.css" charset="utf-8">
  <link rel="stylesheet" href="css/order.css" charset="utf-8">
  <link rel="stylesheet" href="css/code.css" charset="utf-8">
  <link rel="stylesheet" href="css/checkOrder.css" charset="utf-8">
</head>
<body>
  <header ng-controller="HeaderCtrl">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <img src="img/logo.png" alt="Moods">
        </div>
        <div class="col s12 header-text">
          Looking for your cake ?
        </div>
        <div class="col s12 m6" style="text-align: right;">
          <button class="btn pink darken-1" smooth-scroll-jquery target="main" offset="-10" ng-click="changePath('/')"><i class="material-icons left">flash_on</i>Order Now !!!</button>
        </div>
        <div class="col s12 m6" style="text-align: left;">
          <button class="btn pink lighten-2" smooth-scroll-jquery target="main" offset="-10" ng-click="changePath('/checkOrder')"><i class="material-icons left">check_circle</i>Check Order</button>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div id="main" class="container scrollspy">
      <ng-view></ng-view>
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div><h5><strong>Payment Method</strong></h5></div>
          <div>&nbsp;</div>
          <div style="font-size: 1.2em;"><strong><img src="img/kbank.png" style="height: 40px; vertical-align: middle;" alt="">&nbsp;Kasikorn Bank</strong></div>
          <div><strong>Account Number : </strong></div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4062342310</div>
          <div><strong>Account Name : </strong></div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thanida Tilangkarn</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        <div class="col s12 m6">
          <div class="col s12 m6">
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d944.1932260853229!2d98.9952179!3d18.8082713!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDQ4JzI5LjgiTiA5OMKwNTknNDMuMyJF!5e0!3m2!1sth!2s!4v1448180059431" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
          <div class="col s12 m6">
            <div>&nbsp;</div>
            <div><h5>@ Moods Store</h5></div>
            <div>Jing-Jai market</div>
            <div>45 Autsadathorn Road</div>
            <div>Sub District, Phaeton</div>
            <div>District, Mueang</div>
            <div>Chiangmai, Thailand 50300</div>
            <div>&nbsp;</div>
            <div><img src="img/line.png" alt="" style="width: 15px;">&nbsp;&nbsp;thanidakm</div>
            <div><img src="img/instagram.png" alt="" style="width: 15px;">&nbsp;&nbsp;thanidakm</div>
            <div>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="components/Materialize/dist/js/materialize.js" charset="utf-8"></script>
  <script src="js/angular/app.js" charset="utf-8"></script>
  <script src="js/angular/route.js" charset="utf-8"></script>
  <script src="js/angular/factory.js" charset="utf-8"></script>
  <script src="js/angular/controller.js" charset="utf-8"></script>
</body>
</html>
