<div class="row suggest">{ STEP 2 } - FILL INFORMATION</div>
<div class="row card z-depth-2 frame-cake">
  <div class="col s12 m4 frame-image-cake">
    <div class="image-cake" ng-style="{'background-image':'url('+ cake.image + ')'}"></div>
  </div>
  <div class="col s12 m8 card-content">
      <div class="row">
        <div class="col s12 name-cake">{{ cake.name }}</div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">contacts</i>
          <input id="name" type="text" ng-model="info.name">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">contact_phone</i>
          <input id="phone" type="text" length="10" ng-model="info.phone">
          <label for="phone">Phone Number</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">alarm</i>
          <input id="date" type="date" class="datepicker" ng-model="info.date">
          <label for="date">Date of Pick up</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">extension</i>
          <textarea id="need" class="materialize-textarea" ng-model="info.need"></textarea>
          <label for="need">Especially need ?</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">flash_off</i>
          <textarea id="allergic" class="materialize-textarea" ng-model="info.allergic"></textarea>
          <label for="allergic">Allergic ?</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">cake</i>
          <select ng-model="info.size">
            <option value="" disabled selected>Choose your size</option>
            <option value="1a">1 Pound</option>
            <option value="2">2 Pounds</option>
            <option value="3">3 Pounds</option>
          </select>
          <label>Size of cake</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">whatshot</i>
          <select ng-model="info.topping" multiple>
            <option value="" disabled selected>Choose your topping</option>
            <option value="macaroons">Macaroons</option>
            <option value="strawberries">Fresh Strawberries</option>
          </select>
          <label>Topping</label>
        </div>
      </div>
      <div class="row button-cake">
        <div class="col s12 l4">
          &nbsp;
          <div class="chip pink darken-1" ng-show="error">
              {{ error }}
            <i class="material-icons">error</i>
          </div>
        </div>
        <div class="col s12 l8">
          <button class="btn" smooth-scroll-jquery target="main" offset="-10" ng-click="changePath('/')"><i class="material-icons left">reply</i>Back</button>
          <button class="btn"><i class="material-icons left">done_all</i>Submit</button>
        </div>
      </div>
</div>
<script src="js/order.js" charset="utf-8"></script>
